.img{
    display: flex;
    flex-direction: row;
}
h3{
    color: orangered;
}
.john{
    padding-top: 20px;
    position: absolute;
}
.wick{
    position: relative;
    top: 20px;
    right: 0;

}

.para1{
    position: relative;
    top: 50px;
    left: 10px;
    color: orangered;
}